@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.header {
  @include displayJustifyContent(flex, flex-end);
  align-items: center;
  height: 80px;
  background: $bgColor;
}