@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.contactsBlock {
  background-color: $bgColor;
  padding: 100px 0;
  .contactsContainer {
    @include componentBlock(column, space-between);
    .form {
      @include displayFlexDirection(flex, column);
      border: 1px solid;
      margin-top: 30px;
      width: 100%;
      max-width: 500px;
      gap: 10px;
      & input {
        height: 30px;
        background: $bgSecondColor;
        color: $textColor;
      }
      & textarea {
        height: 150px;
        resize: none;
        background: $bgSecondColor;
        color: $textColor;
      }
    }
    // & button {
    //   @include button()
    // }
  }
}

