@import '../../common/styles/sass/mixins.scss';
@import '../../common/styles/sass/variables.scss';


.nav {
  @include displayJustifyContent(flex, space-around);
  width: 400px;
    .navlinkItem  {
      color: $textColor;
      text-decoration: none;
      @include text($josefinFont, 14px, 1.2);
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 8px 20px;
      position: relative;
      cursor: pointer;
      &::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 2px;
        bottom: 5px;
        left: 50%;
        transform: translate(-50%, -50%);
      }
        &:hover {
          color: $primaryColor;
          &::after{
            background-color: $primaryColor;
            transition: all 1s;
          }
        }
        @media screen and (max-width: 400px) {
          @include text($josefinFont, 12px, 1);
        }
  }
  .active{
    color: $primaryColor;
    &::after{
      background-color: $primaryColor;
      transition: all 1s;
    }
  }
  @media screen and (max-width: 410px) {
    flex-direction: column;
    align-items: center;

  }
}

