@import '../../common/styles/sass/mixins.scss';
@import '../../common/styles/sass/variables.scss';


.nav {
  @include displayJustifyContent(flex, space-around);
  border: 1px solid black;
  width: 400px;
  & a {
    color: white;
    text-decoration: none;
    @include text($josefinFont, 14px, 1.2);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

