@import '../../styles/sass/variables.scss';
@import '../../styles/sass/mixins.scss';


.title {
  @include text ($josefinFont, 30px, 1.2);
  margin: 0 0 30px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 5px;
  position: relative;

  & h2 {
    margin: 0;
  }

  & ::after {
    content: '';
    position: absolute;
    background: $primaryColor;
    width: 100px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
