.skillsBlock {
  /* min-height: 100vh; */
  background-color: #1f1f20;
  padding: 100px 0;
}

.skillsContainer {
  flex-direction: column;
  justify-content: flex-start;
}
/* чтобы перезатереть свойства из common container */

.skills {
  border: 1px solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}