.skillsBlock {
  /* min-height: 100vh; */
  background-color: azure;
  margin-bottom: 10px;
}

.skillsContainer {
  flex-direction: column;
  justify-content: flex-start;
}
/* чтобы перезатереть свойства из common container */

.title {
  background-color: bisque;
}

.skills {
  border: 1px solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}