@import '../common/styles/sass/variables.scss';

.skillsBlock {
  background-color: $bgColor;
  padding: 100px 0;
}

.skillsContainer {
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
/* чтобы перезатереть свойства из common container */

.skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  align-items: flex-start;
  @media screen and (max-width: 680px) {
    justify-content: center;
  }
}