@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.mainBlock {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: $bgColor;
  .particles {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
  }
  .greeting {
    width: 300px;
    border: 2px solid $primaryColor;
    padding: 5px;
    @include text($poppinsFont, 16px, 1.2);
    /* цвет для отображения границ блока */
    & h1 {
      @include text($josefinFont, 50px, 1.2);
      letter-spacing: 5px;
    }
    & p {
      font-size: 27px;
    }
  }
  .photo {
    width: 300px;
    border: 2px solid $primaryColor;
    padding: 5px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-color: $primaryColor;
  }
}


