@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.mainBlock {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: $bgColor;
  .container {
    @include container();
    @include flex(center, space-around, center, wrap);
    @media screen and (max-width: 800px) {
      flex-direction: column;
      gap: 10px;
    }
  }
  .particles {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
  }
  .greeting {
    width: 350px;
    border: 2px solid $primaryColor;
    padding: 5px;
    @include text($poppinsFont, 16px, 1.2);
    /* цвет для отображения границ блока */
    & h1 {
      @include text($josefinFont, 50px, 1.2);
      letter-spacing: 5px;
      @media screen and (max-height: 665px) {
        font-size: 40px;
      }
      @media screen and (max-width: 1000px) {
        font-size: 40px;
      }
      @media screen and (max-width: 400px) {
        font-size: 30px;
      }
    }
    & p {
      font-size: 27px;
      @media screen and (max-height: 665px) {
        font-size: 22px;
      }
      @media screen and (max-width: 1000px) {
        font-size: 22px;
      }
      @media screen and (max-width: 400px) {
        font-size: 16px;
      }
    }
    @media screen and (max-height: 665px) {
      width: 280px;
    }
    @media screen and (max-width: 1000px) {
      width: 300px;
      height: 200px;
    }
    @media screen and (max-width: 400px) {
      width: 220px;
      height: 150px;
    }
    @media screen and (max-width: 300px) {
      width: 200px;
      height: 150px;
    }
  }
  .photo {
    width: 350px;
    height: 450px;
    border: 2px solid $primaryColor;
    padding: 5px;
    background-size: cover;
    background-position: center;
    background-color: $primaryColor;
    @media screen and (max-height: 665px) {
      width: 250px;
      height: 350px;
    }
    @media screen and (max-width: 1000px) {
      width: 300px;
      height: 400px;
    }
    @media screen and (max-width: 400px) {
      width: 220px;
      height: 270px;
    }
    @media screen and (max-width: 300px) {
      width: 200px;
      height: 250px;
    }
  }
  @media screen and (max-width: 1000px) {
    padding: 10px 0;
  }
}


