
.mainBlock {
  height: 100vh;
  background-color: blanchedalmond;
}

.greeting {
  width: 300px;
  background-color: darkgray; 
  /* цвет для отображения границ блока */
}

.photo {
  width: 300px;
  height: 400px;
  background-color: darkgray; 
}

