@import './variables.scss';

@mixin text($fontFamily, $fontSize, $lineHeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor;
}

@mixin button() {
  font-family: $josefinFont;
  color: $textColor;
  background: $primaryColor;
  margin: 10px;
  border-radius: 15px;
}
