@import './variables.scss';

@mixin container(){
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

@mixin flex($direction, $justifyContent, $alignItems, $wrap){
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  wrap:$wrap;
}

@mixin text($fontFamily, $fontSize, $lineHeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor;
}

@mixin button() {
  font-family: $josefinFont;
  color: $textColor;
  background: $primaryColor;
  margin: 10px;
  padding: 8px 25px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  &:hover {
    &::after {
      position: absolute;
      content: '';
      background-color: gray;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }
  }
}

@mixin componentBlock($flexDirection, $justifyContent) {
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
}

@mixin displayJustifyContent($display, $justifyContent) {
  display: $display;
  justify-content: $justifyContent;
}

@mixin displayFlexDirection($display, $flexDirection) {
  display: $display;
  flex-direction: $flexDirection;
}