@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.footerBlock {
  @include displayJustifyContent(block, flex-end);
  align-items: center;
  text-align: center;
  padding: 40px 0;
  background: $bgColor;
  .skillsContainer {
    @include componentBlock(column, space-between);
    .title {
      @include text($josefinFont, 30px, 1.2);
      background: $bgColor;
      margin: 0 0 30px;
      text-transform: capitalize;
      letter-spacing: 5px;
      position: relative;
    }
    .icons {
      @include displayJustifyContent(flex, space-around);
      border: 1px solid;
      width: 100%;
      flex-wrap: wrap;
      .icon {
        @include displayFlexDirection(flex, row);
        margin: 10px 0px ;
        height: 60px;
        width: 60px;
        background-size: cover;
        background-position: center;
        position: relative;
        cursor: pointer;
      }
    }
    .copyRight {
      margin: 0;
      color: rgba(255, 255, 255, .5);
    }
  }
}
