.footerBlock {
  min-height: 70vh;
  background-color: #99d0fb;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.skillsContainer {
  flex-direction: column;
  justify-content: space-between;
}
/* чтобы перезатереть свойства из common container */

.title {
  background-color: bisque;
}

.icons {
  border: 1px solid;
  width: 100%;
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
}

.icon {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 200px;
  background-color: dimgray;
}
