.projectsBlock {
  /* height: 100vh; */
  background-color: cornflowerblue;
  margin-bottom: 10px;
}

.projectsContainer {
  flex-direction: column;
  justify-content: flex-start;
}
/* чтобы перезатереть свойства из common container */

.title {
  background-color: bisque;
}

.projects {
  border: 1px solid;
  /* height: 100%; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 625px) {
  .projects {
    justify-content: center
  }
}