@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.projectsBlock {
  background-color: $bgColor;
  padding: 100px 0;
  /* чтобы перезатереть свойства из common container */
  .projectsContainer {
    @include componentBlock(column, flex-start);
    flex-wrap: nowrap;
    .projects {
      @include displayJustifyContent(flex, space-between);
      width: 100%;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: flex-start;
      @media screen and (max-width: 880px) {
        justify-content: center;
      }
    }
  }
}
